.order {
  margin-top: 20px;
  border-top: 1px solid #00000012;
  border-bottom: 1px solid #00000012;


  .order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .order-name {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .order-price {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .quantity-container ion-button {
    margin: 5px 0;
  }

  .quantity-container p {
    margin: 5px 0;
  }
}
