<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="filterProducts($event.detail.value)">
    <ion-segment-button
      *ngFor="let category of categories"
      [value]="category.slug"
    >
      {{ category.title }}
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let product of filteredProducts">
      <ion-thumbnail slot="start">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
      </ion-label>
      <ion-button (click)="addProductToCart(product)">Add to Cart</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
