<ion-content>
  <ion-segment (ionChange)="filterProducts($event.detail.value)">
    <ion-segment-button value="all"> All </ion-segment-button>
    <ion-segment-button
      *ngFor="let category of categories"
      [value]="category.slug"
    >
      {{ category.title }}
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item-sliding *ngFor="let product of filteredProducts">
      <ion-item>
        <ion-thumbnail slot="start">
          <img *ngIf="product.imageUrl" [src]="product.imageUrl" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
          <p>Stock: {{ product.stock }}</p>
        </ion-label>
        <ion-button (click)="addProductToCart(product)">Add to Cart</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editProduct(product)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProduct(product)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
